<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Book</title>
</head>
<body>
    <form  method="post" action="/add">
     
        <label>Title</label><input type="text" name="title" id="title"/>
        <label>Author</label><input type="text" name="author" id="author"/>
        <label>Language</label><input type="text" name="language" id="language"/>
        <label>Pages</label><input type="number" name="pages" id="pages"/>
        <label>Year</label><input type="number" name="year" id="year"/>
        <label>Country</label><input type="text" name="country" id="country"/>
        <label>Image Link</label><input type="text" name="image" id="image"/>
        <label>Wiki link</label><input type="text" name="link" id="link"/>
        <input type="submit" value="Add"/>
    </form>

    <!-- <% if(errors) { %>
        <%= errors %>
    <%} %> -->
</body>
</html>